<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" style="table-layout:fixed" class="m_-4808402737769700009m_-2257157672625699667min-width">

  <tbody>
  <tr>
    <td align="center">
      <table width="600" cellspacing="0" cellpadding="0" border="0" class="m_-4808402737769700009m_-2257157672625699667full">

        <tbody>
        <tr>
          <td bgcolor="#f2f2f2" align="center">
            <table width="600" cellspacing="0" cellpadding="0" border="0" class="m_-4808402737769700009m_-2257157672625699667full">

              <tbody>
              <tr>
                <td align="center" style="padding-top:20px;padding-bottom:30px"></td>
              </tr>
              </tbody>
            </table>

            <table width="600" cellspacing="0" cellpadding="0" border="0" class="m_-4808402737769700009m_-2257157672625699667full">
              <tbody>
              <tr>
                <td width="600" valign="middle" bgcolor="#ffffff" align="center" class="m_-4808402737769700009m_-2257157672625699667full m_-4808402737769700009m_-2257157672625699667vmiddle">
                  <table style="min-width:100%;background-color:#008329">
                    <tbody>
                    <tr>
                      <td style="font-size:20px;font-family:Gotham,Helvetica,Arial,sans-serif;color:#ffffff;padding-left:0px;padding-right:0px;padding:35px 10px;background-color:#008329;font-weight:300;vertical-align:middle;text-align:center">
                        <%= @user_name %>, here are
                        <span style="text-decoration:none;color:#b0e44f;font-weight:500">  <%= @jobs_array.count%> new jobs</span> you may be
                        <span id="m_-4808402737769700009m_-2257157672625699667rahul_ranchal">interested in.</span></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" class="m_-4808402737769700009m_-2257157672625699667full">
              <tbody>
              <% @jobs_array.each do |job| %>
                  <tr>
                    <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;color:#666666;padding-left:0px;padding-right:0px;padding-top:0px">
                      <table style="width:100%;margin:0px;padding:0px;border-collapse:collapse;border:none">
                        <tbody>
                        <tr style="vertical-align:top">
                          <td style="padding-left:40px!important;padding-top:20px;width:85%">
                            <table>
                              <tbody>
                              <tr>
                                <td style="padding-bottom:5px;color: #37a000;">
                                  <%= link_to job["title"], job["url"], style: "text-decoration:none!important;color:#37a000;font-size:18px;font-weight:500;line-height:20px" %>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:5px">
           <span style="font-size:14px!important;font-weight:300;line-height:30px"><b>  <%= job["job_type"] %></b>&nbsp;
             <% if job["job_type"] == "Hourly" %>
               &nbsp;-&nbsp;Est.&nbsp;time:&nbsp; <%= job["duration"] %></span>
                 <% else %>
               &nbsp;-&nbsp;Est.&nbsp;budget:&nbsp; $<%= job["budget"] %></span>
                 <% end %>
             </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                          <td style="text-align:right;padding-right:20px;vertical-align:top;padding-bottom:5px;padding-top:20px;padding-left:10px">
                            <%= link_to 'VIEW JOB', job["url"], style: "color:#ffffff!important;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:30px;width:90px;text-decoration:none;height:30px;display:block;vertical-align:middle!important;text-align:center;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding:0px;font-weight:500!important;font-size:12px;background-color:#008329;border:1px solid #ffffff", class: "btn btn-primary m_-4808402737769700009m_-2257157672625699667oButton" %>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-left:40px!important;padding-right:40px!important" colspan="2">
<span style="font-size:14px;line-height:20px;font-weight:300">

  <% if job["snippet"].length >= 150 %>
      <%= truncate(job["snippet"], length: 150) %>
      <%= link_to "more", job["url"], style: "text-decoration:none!important;color:#37a000;font-weight:500" %>
      <% else %>
  <%= job["snippet"] %>
  <% end %>

</span></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="padding:10px 40px 20px 40px;line-height:30px">
                            <% (job["skills"]).each do |s| %>
                                <div style="white-space:nowrap;display:inline;background-color:#ebebeb;border-radius:5px;padding:3px 10px;color:#00adef;border:0px;margin:0px 5px 0px 0px;text-decoration:none!important;font-weight:300;font-size:11px;color:#545454!important">
                                  <%= s %>
                                </div>
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <td style="margin:0px;padding:0px;border-collapse:collapse;border:none" colspan="2">
                            <div style="width:100%;height:1px;background-color:#f2f2f2"></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              <% end %>
              <tr>
              </tr>
              </tbody>
            </table>

            <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" class="m_-4808402737769700009m_-2257157672625699667full">

              <tbody>
              <tr>
                <td align="center" style="padding-top:35px;padding-bottom:40px;background-color:#008329">
                  <table>
                    <tbody>
                    <tr>
                      <td style="border-collapse:collapse!important;padding-top:5px;padding-bottom:0px;padding-right:50px;padding-left:50px;text-align:center;background-color:#008329;font-family:Helvetica,Arial,San Serif" class="m_-4808402737769700009m_-2257157672625699667bottomText">
                        <span style="color:#fff;font-size:18px;font-weight:300">Want to view more great jobs?</span>
                        <br><br>
                        <center>
                          <a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://e.upwork.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlYQGiszeG9thCtH2Yzezg2eyNcjLaq4YzeSfm9zbRzfbjdFzfW68k11RMDoXRzaCvHRyg9FVXtpKX%253DTSTWRY%26_ei_%3DEolaGGF4SNMvxFF7KucKuWMANJhfCSn003lLgAQ7X5HvUEH3PxST8i5svqpHgV-M_VfYDMW_zK-cQJ9KyOA8cVz84IE.&amp;source=gmail&amp;ust=1479472075157000&amp;usg=AFQjCNHdmNCnHKL64YP2vthyii3zHS2PIw" target="_blank" style="color:#ffffff!important;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:40px;width:220px;text-decoration:none;height:40px;display:block;vertical-align:middle!important;text-align:center;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:0px;font-weight:400!important;background-color:#008329;border:1px solid #ffffff" class="m_-4808402737769700009m_-2257157672625699667oButton" href="https://e.upwork.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlYQGiszeG9thCtH2Yzezg2eyNcjLaq4YzeSfm9zbRzfbjdFzfW68k11RMDoXRzaCvHRyg9FVXtpKX%3DTSTWRY&amp;_ei_=EolaGGF4SNMvxFF7KucKuWMANJhfCSn003lLgAQ7X5HvUEH3PxST8i5svqpHgV-M_VfYDMW_zK-cQJ9KyOA8cVz84IE.">VISIT
                            YOUR JOB FEED</a></center>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>